@model WebApp_GozenBv.ViewModels.MaterialLogDetailViewModel

@{
    ViewData["Title"] = "Complete Damaged";
}

<h1>MaterialLog</h1>
<h4>Complete Damaged Items</h4>

<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.LogDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.Employee)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.LogId)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.MaterialLog.LogDate)</td>
            <td>@Html.DisplayFor(model => model.MaterialLog.EmployeeFullName)</td>
            <td>@Html.DisplayFor(model => model.MaterialLog.LogId)</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>MaterialLogItems</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialId)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialAmount)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.DamagedAmount)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.RepairAmount)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.DeleteAmount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>
                    <p class="materialId">@item.MaterialId</p>
                </td>

                @*<td>@item.ProductNameCode</td>*@
                <td>@item.MaterialAmount</td>
                <td><p class="damagedAmount">@item.DamagedAmount</p></td>
                <td>
                    <input class="inputRepaired" min="0" max="@item.DamagedAmount" type="number" />
                </td>
                <td>
                    <input class="inputDeleted" min="0" max="@item.DamagedAmount" type="number" />
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="CompleteDamaged" onsubmit="FillData(event)">
    <input type="hidden" asp-for="MaterialLog.LogId" />
    <input id="completeDamagedResult" type="hidden" asp-for="DamagedMaterial" />
    <input id="btnSubmit" type="submit" value="Complete" class="btn btn-primary" /> |
    <a asp-action="Index">Back to List</a>
</form>

<script src="~/js/MaterialLog_CompleteDamaged.js"></script>
