@model WebApp_GozenBv.ViewModels.MaterialLogDetailViewModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>MaterialLog</h4>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.LogDate)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.Employee)</th>
                <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.LogId)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(model => model.MaterialLog.LogDate)</td>
                <td>@Html.DisplayFor(model => model.MaterialLog.EmployeeFullName)</td>
                <td>@Html.DisplayFor(model => model.MaterialLog.LogId)</td>
            </tr>
        </tbody>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Items)</th>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialId)</th>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem)</th>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialAmount)</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.MaterialId</td>
                    @*<td>@item.ProductNameCode</td>*@
                    <td>@item.MaterialAmount</td>
                </tr>
            }
        </tbody>
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.Items)</th>
            </tr>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialId)</th>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem)</th>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialAmount)</th>
            </tr>
        </thead>
       @* <tbody>
            @foreach (var item in Model.ItemsDamaged)
            {
                <tr>
                    <td>@item.MaterialId</td>
                    <td>@item.ProductNameCode</td>
                    <td>@item.MaterialAmount</td>
                </tr>
            }
        </tbody>*@
    </table>

    <form asp-action="Delete">
        @*<input type="hidden" asp-for="LogId" />*@
        <input type="submit" asp-route-id="@Model.MaterialLog.LogId" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
