@using WebApp_GozenBv.Constants;
@model WebApp_GozenBv.ViewModels.MaterialLogDetailViewModel

@{
    ViewData["Title"] = "Details";
    var status = Model.MaterialLog.Status;
    var logId = Model.MaterialLog.LogId;
}

<h1>Details</h1>

<h4>MaterialLog</h4>
<hr />

<div class="d-flex flex-column">
    <a asp-action="Index">Back to List</a>

    @switch (status)
    {
        case MaterialLogStatusConst.Created:
            <a asp-action="Edit" asp-route-id="@logId">Edit</a>
            <a asp-action="Delete" asp-route-id="@logId">Delete</a>
            <a asp-action="ReturnItems" asp-route-id="@logId">Return Items</a>
            break;

        case MaterialLogStatusConst.DamagedAwaitingAction:
            <a asp-action="Delete" asp-route-id="@logId">Delete</a>
            <a asp-action="CompleteDamaged" asp-route-id="@logId">Complete Damaged</a>
            break;

        case MaterialLogStatusConst.Returned:
            <a asp-action="Undo" asp-route-id="@logId">Undo</a>
            break;
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.LogDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.Employee)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.Status)</th>
            @if (status == MaterialLogStatusConst.Returned || status == MaterialLogStatusConst.DamagedAwaitingAction)
            {
                <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.ReturnDate)</th>
            }
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.MaterialLog.LogDate)</td>
            <td>@Html.DisplayFor(model => model.EmployeeFullName)</td>
            <td>
                <vc:status-icon status="@status" is-damaged="@Model.MaterialLog.Damaged"></vc:status-icon>
            </td>
            @if (status == MaterialLogStatusConst.Returned || status == MaterialLogStatusConst.DamagedAwaitingAction)
            {
                <td>@Html.DisplayFor(model => model.MaterialLog.ReturnDate)</td>
            }
        </tr>
    </tbody>
</table>

<div>
    <h5>Items</h5>
</div>
<table class="table" id="notDamagedItems">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialId)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialAmount)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.Used)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr>
                <td>@item.MaterialId</td>
                <td>@item.ProductNameCode</td>
                <td>@item.MaterialAmount</td>
                <td>@item.Used</td>
            </tr>
        }
    </tbody>
</table>

@if (Model.MaterialLog.Damaged)
{
    <div>
        <h5>Damaged Items</h5>
    </div>
    <table class="table" id="damagedItems">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialId)</th>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem)</th>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialAmount)</th>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem.Cost)</th>
                <th>@Html.DisplayNameFor(model => model.MaterialLogItem.Used)</th>
                @if (status == MaterialLogStatusConst.DamagedAwaitingAction)
                {
                    <th>@Html.DisplayNameFor(model => model.MaterialLogItem.DamagedAmount)</th>
                }
                @if (status == MaterialLogStatusConst.Returned)
                {
                    <th>@Html.DisplayNameFor(model => model.MaterialLogItem.DamagedAmount)</th>
                    <th>@Html.DisplayNameFor(model => model.MaterialLogItem.RepairedAmount)</th>
                    <th>@Html.DisplayNameFor(model => model.MaterialLogItem.DeletedAmount)</th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ItemsDamaged)
            {
                <tr>
                    <td>@item.MaterialId</td>
                    <td>@item.ProductNameCode</td>
                    <td>@item.MaterialAmount</td>
                    <td>@item.Cost</td>
                    <td>@item.Used</td>
                    @if (status == MaterialLogStatusConst.DamagedAwaitingAction)
                    {
                        <td>@item.DamagedAmount</td>
                    }
                    @if (status == MaterialLogStatusConst.Returned)
                    {
                        <td>@item.DamagedAmount</td>
                        <td>@item.RepairedAmount</td>
                        <td>@item.DeletedAmount</td>
                    }
                </tr>
            }
        </tbody>
    </table>
}

<div>
    <vc:user-log view="@ViewTypeConst.Entity" controller-id="@ControllerNames.MaterialLog" entity-id="@logId"></vc:user-log>
</div>


<input id="statusId" type="hidden" value="@status" />
<script src="~/js/MaterialLog_Details.js"></script>
