@model WebApp_GozenBv.ViewModels.MaterialLogDetailViewModel

@{
    ViewData["Title"] = "Return items?";
    var status = Model.MaterialLog.Status;
    var logId = Model.MaterialLog.LogId;
}

<h1>Return</h1>

@*<h3>Which products are damaged?</h3>*@
<h4>Return items?</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.LogDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.Employee)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.LogId)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.MaterialLog.LogDate)</td>
            <td>@Html.DisplayFor(model => model.MaterialLog.EmployeeFullName)</td>
            <td>@Html.DisplayFor(model => logId)</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>MaterialLogItems</th>
        </tr>
        <tr>
            <th>Material</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialAmount)</th>
            <th>Damaged?</th>
            <th id="damagedTitle" style="opacity: 0.6">@Html.DisplayNameFor(model => model.MaterialLogItem.DamagedAmount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Items)
        {
            <tr class="materialLogItemRow">
                <td><p>@item.ProductNameCode</p></td>
                <td><p>@item.MaterialAmount</p></td>
                <td><input class="chkDamaged" type="checkbox" onclick="ChangeDamaged(this)" /></td>
                <td>
                    <input class="inputDamagedAmount w-25" disabled type="number" max="@item.MaterialAmount" min="1"/>
                </td>
                <input class="inputMaterialAmount" value="@item.MaterialAmount" type="hidden" />
            </tr>
        }
    </tbody>
</table>

<form asp-action="ReturnItems">
    <input type="hidden" asp-for="MaterialLog.EmployeeId" />
    <input type="hidden" asp-for="MaterialLog.LogId" />
    <input id="isDamaged" hidden type="checkbox" asp-for="MaterialLog.Damaged" />
    <input id="damagedMaterialResult" type="hidden" asp-for="DamagedMaterial" />
    <input id="btnSubmit" onclick="PassDamagedItems()" type="submit" value="Complete" class="btn btn-primary" /> |
    <a asp-action="Index">Back to List</a>
</form>

<script src="~/js/MaterialLog_ReturnItems.js"></script>