@model WebApp_GozenBv.ViewModels.MaterialLogAndItemsViewModel

@{
    ViewData["Title"] = "Return items?";
    var status = Model.MaterialLog.Status;
    var logId = Model.MaterialLog.LogId;
}

<h1>Material Log</h1>

<h4>Return items</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.LogDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.Employee)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.MaterialLog.LogId)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.MaterialLog.LogDate)</td>
            <td>@Html.DisplayFor(model => model.MaterialLog.EmployeeFullName)</td>
            <td>@Html.DisplayFor(model => logId)</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th>MaterialLogItems</th>
        </tr>
        <tr>
            <th>Material</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.MaterialAmount)</th>
            <th>Damaged?</th>
            <th id="damagedTitle">@Html.DisplayNameFor(model => model.MaterialLogItem.DamagedAmount)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.RepairAmount)</th>
            <th>@Html.DisplayNameFor(model => model.MaterialLogItem.DeleteAmount)</th>
        </tr>
    </thead>
    <tbody>
        <form asp-action="ReturnItems">
            @for (int i = 0; i < Model.MaterialLogItems.Count; i++)
            {
            <tr class="materialLogItemRow">
                <input type="hidden" asp-for="@Model.MaterialLogItems[i].MaterialId"/>
                <td><input disabled asp-for="@Model.MaterialLogItems[i].MaterialFullName" class="form-control" /></td>
                <td><input disabled asp-for="@Model.MaterialLogItems[i].MaterialAmount" class="form-control" /></td>
                <td><input asp-for="@Model.MaterialLogItems[i].IsDamaged" class="chkDamaged form-check" type="checkbox" /></td>
                <td>
                    <input asp-for="@Model.MaterialLogItems[i].DamagedAmount" class="inputDamagedAmount form-control" />
                    <span asp-validation-for="@Model.MaterialLogItems[i].DamagedAmount" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="@Model.MaterialLogItems[i].RepairAmount" class="inputRepairAmount form-control" />
                    <span asp-validation-for="@Model.MaterialLogItems[i].RepairAmount" class="text-danger"></span>
                </td>
                <td>
                    <input asp-for="@Model.MaterialLogItems[i].DeleteAmount" class="inputDeleteAmount form-control" />
                    <span asp-validation-for="@Model.MaterialLogItems[i].DeleteAmount" class="text-danger"></span>
                </td>
            </tr>
            }

        <input type="hidden" asp-for="MaterialLog.EmployeeId" />
        <input type="hidden" asp-for="MaterialLog.LogId" />
        <input id="isDamaged" hidden type="checkbox" asp-for="MaterialLog.Damaged" />
        <input type="submit" onclick="SetDamaged()" value="Complete" class="btn btn-primary" /> 
        </form>
    </tbody>
</table>

<a asp-action="Index">Back to List</a>
<script src="~/js/MaterialLog_ReturnItems.js"></script>