@using WebApp_GozenBv.Constants;
@model WebApp_GozenBv.ViewModels.MaterialViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Material</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.UsedQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.UsedQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TotalQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TotalQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MinQty)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MinQty)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NoReturn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NoReturn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cost)
        </dd>
    </dl>
</div>

<div>
    <vc:user-log view="@ViewTypeConst.Entity" controller-id="@ControllerNames.Material" entity-id="@Model.Id"></vc:user-log>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
