@model WebApp_GozenBv.ViewModels.StockLogDetailVM

@{
    ViewData["Title"] = "Complete";
}

<h1>Complete Damaged Items</h1>

<h4>StockLog</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLogDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLog.Employee)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.LogCode)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.StockLogDate)</td>
            <td>@Html.DisplayFor(model => model.EmployeeFullNameFirma)</td>
            <td>@Html.DisplayFor(model => model.LogCode)</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLogItems)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.StockLogItem.StockId)</th>
            <th>@Html.DisplayNameFor(model => model.StockLogItem)</th>
            <th>@Html.DisplayNameFor(model => model.StockLogItem.StockAmount)</th>
            <th>@Html.DisplayNameFor(model => model.StockLogItem.DamagedAmount)</th>
            <th>@Html.DisplayNameFor(model => model.StockLogItem.RepairedAmount)</th>
            <th>@Html.DisplayNameFor(model => model.StockLogItem.DeletedAmount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StockLogItems)
        {
            <tr>
                <td>
                    <p class="stockId">@item.StockId</p>
                </td>

                <td>@item.ProductNameBrand</td>
                <td>@item.StockAmount</td>
                <td><p class="inputDamaged">@item.DamagedAmount</p></td>
                <td>
                    <input class="inputRepaired" type="number" />
                </td>
                <td>
                    <input class="inputDeleted" type="number" />
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-action="CompleteDamaged">
    <input type="hidden" asp-for="LogCode" />
    <input id="completeDamagedResult" type="hidden" asp-for="DamagedStock" />
    <input id="btnSubmit" type="submit" value="Complete" onclick="FillData()" class="btn btn-primary" /> |
    <a asp-action="Index">Back to List</a>
</form>

<script src="~/js/StockLog_CompleteDamaged.js" />
