@model IEnumerable<WebApp_GozenBv.Models.StockLog>

@{
    ViewData["Title"] = "Confirmed List";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ConfirmDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StockLogDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogCode)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ConfirmDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StockLogDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.Name)
                @Html.DisplayFor(modelItem => item.Employee.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LogCode)
            </td>
            <td>
                <a asp-action="ConfirmedDetails" asp-route-id="@item.LogCode">Details</a> |
            </td>
        </tr>
        }
    </tbody>
</table>
