@model WebApp_GozenBv.ViewModels.DamagedDetailVM

@{
    ViewData["Title"] = "Damaged Details";
}

<h1>Details</h1>

<h4>StockLog</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLog.CompletionDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLog.StockLogDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLog.Employee)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLog.LogCode)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.StockLog.CompletionDate)</td>
            <td>@Html.DisplayFor(model => model.StockLog.StockLogDate)</td>
            <td>@Html.DisplayFor(model => model.EmployeeFullNameFirma)</td>
            <td>@Html.DisplayFor(model => model.StockLog.LogCode)</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.StockDamaged)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.StockDamaged.StockId)</th>
            <th>@Html.DisplayNameFor(model => model.StockDamaged.Stock)</th>
            <th>@Html.DisplayNameFor(model => model.StockDamaged.StockAmount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.DamagedItemsVM)
        {
            <tr>
                <td>@item.StockId</td>
                <td>@item.ProductNameBrand</td>
                <td>@item.StockAmount</td>
                <td><a asp-action="RepairStock" asp-route-stockid="@item.StockId" asp-route-damagedstockid="@item.Id" asp-route-stockamount="@item.StockAmount">Repaired</a></td>
            </tr>
        }
    </tbody>
</table>
<div>
    @*<a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>*@ |
    <a asp-action="DamagedList">Back to List</a>
</div>
