@model IEnumerable<WebApp_GozenBv.Models.StockLog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StockLogDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LogCode)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <stocklog status="item.Status">
                <td>
                    @Html.DisplayFor(modelItem => item.StockLogDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                    @Html.DisplayFor(modelItem => item.Employee.Surname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LogCode)
                </td>
                <actions status="item.Status" ></actions>
            </stocklog>
        }
    </tbody>
</table>
