@model WebApp_GozenBv.Models.StockLog

@{
    ViewData["Title"] = "Complete?";
}

<h1>Bevestig</h1>

<h3>Are you sure you want to complete this?</h3>
<div>
    <h4>StockLog</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockLogDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockLogDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Id)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LogCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LogCode)
        </dd>
    </dl>
    
    <form asp-action="ToComplete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Bevestig" class="btn btn-success" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
