@using WebApp_GozenBv.Constants;
@model WebApp_GozenBv.Models.WagenPark

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WagenPark</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LicencePlate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LicencePlate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ChassisNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ChassisNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Km)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Km)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.KeuringDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.KeuringDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DeadlineKeuring)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DeadlineKeuring)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Firma)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Firma.Id)
        </dd>
    </dl>
</div>

<div>
    <vc:user-log view="@ViewTypeConst.Entity" controller="@ControllerConst.WagenPark" entity-id="@Model.Id"></vc:user-log>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
