@model WebApp_GozenBv.ViewModels.AlertsViewModel
@using WebApp_GozenBv.Constants

<div id="accordionAlerts" class="d-flex justify-content-center">
    <div class="col-md-9">
        <div class="card">
            <div class="card-header" id="headingAlerts">
                <div class="d-flex justify-content-between">
                    <button class="btn btn-link w-100 d-flex justify-content-sm-center justify-content-md-start"
                            data-toggle="collapse" data-target="#collapseAlerts" aria-expanded="true" aria-controls="collapseAlerts">

                        <h4 class="mb-0">
                            Alerts
                        </h4>

                    </button>
                    @if (Model.CarAlerts.Count > 0 || Model.MaterialAlerts.Count > 0)
                    {
                        <div class="rounded-circle btn-danger d-flex justify-content-center align-items-center" style="width: 25px; height: 25px"><small style=>@(Model.CarAlerts.Count + Model.MaterialAlerts.Count)</small></div>
                    }
                </div>
            </div>

            <div id="collapseAlerts" class="collapse" aria-labelledby="headingAlerts" data-parent="#accordionUserLog">
                <div class="card-body">
                    <div class="container d-flex flex-column justify-content-center">

                        @if ((Model.CarAlerts.Count + Model.MaterialAlerts.Count) > 0)
                        {
                            @if (Model.CarAlerts.Count > 0)
                            {
                                <h5>Car Alerts</h5>
                                <div class="mb-4">
                                    @foreach (var carAlert in Model.CarAlerts)
                                    {
                                        <a class="btn btn-light w-100 mb-1" asp-action="Details" asp-controller="CarPark" asp-route-id="@carAlert.CarPark.Id">
                                            <div class="d-flex">
                                                <p class="col-2 mb-0">@carAlert.CarPark.Brand</p>
                                                <p class="col-2 mb-0">@carAlert.CarPark.Model</p>
                                                <p class="col-2 mb-0">@carAlert.CarPark.LicencePlate</p>
                                                <div class="col-6 ">
                                                    <p class="mb-0">
                                                        @switch (carAlert.Status)
                                                        {
                                                            case CarAlertsConst.KeuringOneMonth:
                                                                int daysLeft = (carAlert.CarPark.DeadlineKeuringDate - DateTime.Now).Days + 1;
                                                                <b>Keuring expires in @daysLeft days(@carAlert.CarPark.DeadlineKeuringDate.ToShortDateString())</b>
                                                                break;
                                                            case CarAlertsConst.KeuringOutdated:
                                                                <b>Keuring expired on @carAlert.CarPark.DeadlineKeuringDate.ToShortDateString()</b>
                                                                break;
                                                            case CarAlertsConst.MaintenanceOneMonth:
                                                                <b>Maintenance on (@carAlert.CarMaintenance.MaintenanceDate.Value.ToShortDateString()) @carAlert.CarMaintenance.MaintenanceInfo</b>
                                                                break;
                                                            case CarAlertsConst.MaintenanceKm:
                                                                <b>Maintenance on @carAlert.CarMaintenance.MaintenanceKm (current: @carAlert.CarPark.Km)</b>
                                                                break;
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                        </a>
                                    }
                                </div>
                            }

                            @if (Model.MaterialAlerts.Count > 0)
                            {
                                <h5>Material Alerts</h5>
                                <div>
                                    @foreach (var materialAlert in Model.MaterialAlerts)
                                    {
                                        <a class="btn btn-light w-100 mb-1" asp-action="Details" asp-controller="Material" asp-route-id="@materialAlert.Material.Id">
                                            <div class="d-flex">
                                                <p class="col-1 mb-0">@materialAlert.Material.Id.</p>
                                                <p class="col-2 mb-0">@materialAlert.Material.Name</p>
                                                <p class="col-2 mb-0">@materialAlert.Material.Brand</p>
                                                <div class="col-7">
                                                    <p class="mb-0">
                                                        @if (materialAlert.Status == MaterialAlertsConst.LessThanMinimum)
                                                        {
                                                            <b>Amount less than minimum (current Qty: @materialAlert.Material.NewQty)</b>
                                                        }
                                                        else if (materialAlert.Status == MaterialAlertsConst.Empty)
                                                        {
                                                            <b>Item is out of material!</b>
                                                        }
                                                    </p>
                                                </div>
                                            </div>
                                            }
                                        </a>
                                    }
                                </div>
                            }
                        }
                        else
                        {
                            <p>No alerts.</p>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
