@using WebApp_GozenBv.Constants;
@model IEnumerable<WebApp_GozenBv.Models.StockLog>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-1">@Html.DisplayNameFor(model => model.Status)</th>
            <th>
                @Html.DisplayNameFor(model => model.StockLogDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <vc:status-icon status="item.Status" is-damaged="item.Damaged"></vc:status-icon>
                @*<td><img class="col-1" src="~/resources/icons/check-svgrepo-com.svg" /></td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.StockLogDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Employee.Name)
                    @Html.DisplayFor(modelItem => item.Employee.Surname)
                </td>
                <td>
                    <vc:actions status="@item.Status" id="@item.Id" log-code="@item.LogCode"></vc:actions>
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <vc:user-log view="@ViewTypeConst.Controller" controller="@ControllerConst.StockLog" entity-id=""></vc:user-log>
</div>
