@using WebApp_GozenBv.Constants;
@model IEnumerable<WebApp_GozenBv.Models.StockLog>

@{
    ViewData["Title"] = "Index";
}

<h1>All logs</h1>

<p>
    <a asp-action="Create">Create New Log</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th class="col-1">@Html.DisplayNameFor(model => model.Status)</th>
            <th>
                @Html.DisplayNameFor(model => model.StockLogDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Employee)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
            
                <vc:status-icon col="12" status="item.Status" is-damaged="item.Damaged"></vc:status-icon>
                <td>
                        @Html.DisplayFor(modelItem => item.StockLogDate)
                </td>
                <td>
                        @Html.DisplayFor(modelItem => item.Employee.Name)
                        @Html.DisplayFor(modelItem => item.Employee.Surname)
                </td>
                <td><a asp-action="Details" asp-route-id="@item.LogCode">Details</a></td>
            </tr>
        }
    </tbody>
</table>

<div>
    <vc:user-log view="@ViewTypeConst.Controller" controller="@ControllerConst.StockLog" entity-id=""></vc:user-log>
</div>
