@model WebApp_GozenBv.ViewModels.StockLogDetailVM

@{
    ViewData["Title"] = "Return items?";
}

<h1>Return</h1>

@*<h3>Which products are damaged?</h3>*@
<h4>Return items?</h4>
<hr />
<table class="table">
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLogDate)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLog.Employee)</th>
            <th scope="col">@Html.DisplayNameFor(model => model.LogCode)</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Html.DisplayFor(model => model.StockLogDate)</td>
            <td>@Html.DisplayFor(model => model.EmployeeFullNameFirma)</td>
            <td>@Html.DisplayFor(model => model.LogCode)</td>
        </tr>
    </tbody>
    <thead>
        <tr>
            <th scope="col">@Html.DisplayNameFor(model => model.StockLogItems)</th>
        </tr>
        <tr>
            <th>@Html.DisplayNameFor(model => model.StockLogItem.StockId)</th>
            <th>@Html.DisplayNameFor(model => model.StockLogItem)</th>
            <th>@Html.DisplayNameFor(model => model.StockLogItem.StockAmount)</th>
            <th>Damaged?</th>
            <th id="damagedTitle" style="opacity: 0.6">@Html.DisplayNameFor(model => model.StockLogItem.DamagedAmount)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.StockLogItems)
        {
            <tr class="stockLogItemRow">
                <td><p class="labelStockId">@item.StockId</p></td>
                <td><p>@item.ProductNameBrand</p></td>
                <td><p>@item.StockAmount</p></td>
                <td><input class="chkDamaged" type="checkbox" onclick="ChangeDamaged(this)" /></td>
                <td>
                    <input class="inputDamagedAmount w-25" disabled type="number" max="@item.StockAmount" min="1"/>
                </td>
                <input class="inputStockAmount" value="@item.StockAmount" type="hidden" />
            </tr>
        }
    </tbody>
</table>

<form asp-action="ReturnItems">
    <input type="hidden" asp-for="LogCode" />
    <input id="damagedStockResult" type="hidden" asp-for="DamagedStock" />
    <input id="btnSubmit" onclick="PassDamagedItems()" type="submit" value="Complete" class="btn btn-primary" /> |
    <a asp-action="Index">Back to List</a>
</form>

<script src="~/js/StockLog_ReturnItems.js"/>